body {
    background-color: #6b0000;

}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 350%;
    flex-wrap: row;
    padding: 20px;

}

.tarjeta {
    width: 600px;
    background-color: #fbfbfe;
    display: flex;
    margin: 200px auto;
    box-shadow: 0 10 100px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

}

.imagen {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    border-bottom-right-radius: 50px;

}

.imagen img {
    max-width: 250%;
    justify-content: center;
}

.info {
    width: 100%;
    margin-top: 80px;
    padding: 20px;
    margin-left: 20px;


}

.info h2 {
    font-size: 30px;
    color: #6b0000;
}

.info p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.precio {
    font-weight: bold;
    margin-bottom: 20px;
    color: #6b0000;

}

button {
    font-weight: bold;
    margin-bottom: 10px;
    color: #6b0000;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 800px) {
    .contenedor {
        flex-direction: column;
        text-align: center;
    }

    .tarjeta {
        flex-direction: column;
        width: 100%;
        max-width: 350px;
    }

    .info {
        text-align: center;
    }
}
